/* button, a {
  border-color: red;
  font-size: 3rem;
  color: rgb(41, 2, 2);
  border-radius: 10px;
  border: solid 3px red;
  background-color: aliceblue;
  text-decoration: none;
  display: inline-block
} */